In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("StudentsPerformance.csv")
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## df.info()

Veri çerçevesindeki sütunlar, veri türleri ve eksik değerler hakkında bilgi verir.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

## df.describe()

Sayısal sütunlar için temel istatistiksel özetler verir.

In [5]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

## df.shape 
Veri çerçevesinin satır ve sütun sayısını döndürür.

In [7]:
df.shape

(1000, 8)

## df.dtypes
Veri çerçevesindeki her sütunun veri tipini gösterir.

In [11]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

## df.loc()

df.loc[row_indexer, column_indexer]

df.loc[0:5]   0'dan 5'e kadar olan satırlari getirir

df.loc[0:5, ['math score', 'reading score']]

Satır ve sütun seçiminde etiketler kullanılır.

In [20]:
df.loc[0, 'math score']

np.int64(72)

## df.std()

Standart sapma hesaplar.

In [22]:
df["math score"].std()

np.float64(15.16308009600945)

## df.min()

Minimum değeri döndürür.

In [23]:
df["math score"].min()

np.int64(0)

## df.max()

En büyük değeri döndürür.

In [26]:
df["reading score"].max()

np.int64(100)

## df.sum()
df.sum() bütün satırların toplamını verir.

df['column_name'].sum()

Bu, belirtilen sütundaki tüm değerlerin toplamını döndürür.

In [28]:
df.sum()

gender                         femalefemalefemalemalemalefemalefemalemalemale...
race/ethnicity                 group Bgroup Cgroup Bgroup Agroup Cgroup Bgrou...
parental level of education    bachelor's degreesome collegemaster's degreeas...
lunch                          standardstandardstandardfree/reducedstandardst...
test preparation course        nonecompletednonenonenonenonecompletednonecomp...
math score                                                                 66089
reading score                                                              69169
writing score                                                              68054
dtype: object

## df.corr()

Sütunlar arasındaki korelasyonu hesaplar.

In [30]:
df["reading score"].corr(df["math score"])

np.float64(0.8175796636720541)

## df.cov() 

Sütunlar arasındaki kovaryansı hesaplar.